{% extends 'public/base.html.twig' %}


{% block metatitle %}
    {{ article.title }}
{% endblock %}

{% block body %}


    <article>
        <h1>{{ article.title }}</h1>
        <p>Publié le {{ article.createAt |date("j F Y")}} à {{ article.createAt  |date(" H:i") }}</p>
        <img src="{{ article.image }}" alt="image article">X
        <p> {{ article.content }} </p>

    </article>


{% endblock %}